<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>trialVersion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EB9255F1D013AA300D6C01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EB925771D013AA300D6C01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EB925821D013AA300D6C01B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
